.container {
    height: auto;
    background-color: #ccc;
    display: grid;
    gap: 5px;
    grid-template-areas:
        "header header header header header"
        "nav section section section section"
        "nav section section section section"
        "footer footer footer footer span"


    ;
}


.item {
    background-color: blue;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
}

a {
    text-decoration: none;
}

ul li {
    padding: 10px;
    list-style: none;
    display: grid;
    justify-content: center;
    font-size: 34px;
    color: white;
}

.menu {
    font-size: 30px;
    color: white;
    display: grid;
    justify-content: center;
    padding: 10px;
    margin-left: 30px;
}

header {
    grid-area: header;
    height: 100px;
}

nav {
    grid-area: nav;
    height: 750px;
}


section {
    grid-area: section;
    height: 750px;
}


footer {
    grid-area: footer;
}

span {
    grid-area: span;
}